
<form method="post" action="/comments/<%=esc @comment.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="hidden" name="comment[commentable_type]" value="<%=esc @comment.commentable.class.name%>">
<input type="hidden" name="comment[commentable_id]" value="<%=esc @comment.commentable.id%>">
<!--<input type="hidden" name="comment[comment_path]" value="<%=esc @comment.commentable_type%>">-->
<textarea name="comment[content]" placeholder="Type here"><%=esc @comment.content %></textarea>
<br/>
<br/>
<div><input type="submit" value="Edit Comment">
</form>



<form method="post" action="/comments/<%=esc @comment.id%>">
<input type="hidden" name="comment[commentable_type]" value="<%=esc @comment.commentable.class.name%>">
<input type="hidden" name="comment[commentable_id]" value="<%=esc @comment.commentable.id%>">
    <input type="hidden" name="_method" value="delete">

    <!--<input type="hidden" name="id" value="<%= @comment.id%>">-->
<br/>
    <input type="submit" value="Delete">
</form>
<br>