

<%= @user.name%>: 
<%= @comment.content%>



<div>
  <h3>Comments:</h3>

  <% @comments.sort_by{|comment| comment[:timestamps]}.each do |comment| %>
  <div>
     <%= comment.user.name %>: <%= comment.content %>
    <h6><%= comment.created_at %></h6>
    <br/>
  </div>
  <% end %>
  <br/>
</div>
<div>
  <%= erb :'comment/_comments', locals: {commentable: @comment, commentable_type: @commentable_type}%>
</div>












