
<!--<form method="post" action="/ratings/<%=esc @rating.id %>">
<input type="hidden" name="rating[ratable_type]" value="<%=esc ratable.class.name%>">
<input type="hidden" name="rating[ratable_id]" value="<%=esc ratable.id%>">
<input type="hidden" name="rating[rating_path]" value="<%=esc ratable_type%>">
<input id="hidden" type="hidden" name="_method" value="patch">
<label><input type="radio" name="rating[rate]" value="1" <%= "checked='checked'" if @rating.rate == 1 %>>1</label>
<label><input type="radio" name="rating[rate]" value="2" <%= "checked='checked'" if @rating.rate == 2 %>>2</label>
<label><input type="radio" name="rating[rate]" value="3" <%= "checked='checked'" if @rating.rate == 3 %>>3</label>
<label><input type="radio" name="rating[rate]" value="4" <%= "checked='checked'" if @rating.rate == 4 %>>4</label>
<label><input type="radio" name="rating[rate]" value="5" <%= "checked='checked'" if @rating.rate == 5 %>>5</label>
<br/>
<br/>
   <input type="submit" value="Update">
</form>
-->