<h3><div>Title: <%= @book.title %>
<br/>
Author: <a href="/authors/<%= @book.author.id %>"><%= @book.author.name %></a>
<br/>
Year: <%= @book.year %>
<br/>
Stars: <%= @avg_rating %>
</div></h3>
<br/>
<br/>
<%= erb :'rating/_ratings', locals: {ratable: @book, ratable_type: @ratable_type } %>
<br/>





<br/>
<div>
  <h3>Enlightnening Quotes:</h3>

  <% @fave_quotes.sort_by{|fave_quote| fave_quote[:timestamps]}.each do |fave_quote| %>
  <div>
     <%= fave_quote.quote %> <a href="/fave_quotes/<%=fave_quote.id%>/edit">Edit</a>
    <h6><%= fave_quote.created_at %></h6>
    <br/>
  </div>
  <% end %>
  <br/>
</div>
<div>
<%= erb :'fave_quote/_fave_quote', locals: {quotable: @book, quotable_type: @quotable_type }%>
</div>
<br/>




<br/>
<div>
  <h3>Comments:</h3>

  <% @comments.sort_by{|comment| comment[:timestamps]}.each do |comment| %>
  <div>
     <%= comment.user.name %>: <%= comment.content %> <a href="/comments/<%=comment.id%>/edit">Edit</a>    <a href="/comments/<%=comment.id%>">Delete</a>
    <h6><%= comment.created_at %></h6> 
    <br/>
  </div>
  <% end %>
  <br/>
</div>
<div>
  <%= erb :'comment/_comments', locals: {commentable: @book, commentable_type: @commentable_type}%>
</div>




