<h3><div>Title: <%=h @book.title %>
<br/>
Author: <a href="/authors/<%= @book.author.id %>"><%=h @book.author.name %></a>
<br/>
Year: <%= @book.year %>
<br/>
Stars: <%= @avg_rating %>
</div></h3>
<br/>
<br/>
<%= erb :'rating/_ratings', locals: {ratable: @book, ratable_type: "books"} %>

<br/>
<br/>


<div>
  <h3>Trending:</h3>

  <% @comments.sort_by{|comment| comment[:timestamps]}.each do |comment| %>
  <div>
     <%=h comment.user.name %>: <%=h comment.content %>
    <h6><%= comment.created_at %></h6>
    <br/>
  </div>
  <% end %>
  <br/>
</div>

  <%= erb :'comment/_comments', locals: {commentable: @book, commentable_type: @commentable_type}%>

