<h3><div>Title: <a href="<%= @article.source %>"><%= @article.title %></a>
<br/>
Author: <a href="/authors/<%= @article.author.id %>"><%= @article.author.name %></a>
<br/>
Year: <%= @article.year %>
<br/>
Stars: <%= @avg_rating %>
</div></h3>
<br/>
<br/>

<div>
<%= erb :'rating/_ratings', locals: {ratable: @article, ratable_type: "articles"} %>
</div>
<br/>
<br/>


<div>
  <h3>Favorite Quotes:</h3>

  <% @fave_quotes.sort_by{|fave_quote| fave_quote[:timestamps]}.each do |fave_quote| %> 
  <div>
     <%= fave_quote.quote %>    <h6><%= fave_quote.created_at.strftime("%A, %B %d, %Y") %></h6> 
     <% if fave_quote.user_id == current_user.id%><p><a href="/fave_quotes/<%=fave_quote.id%>/edit">Edit</a> </p><% end%>

    <br/>
  </div>
  <% end %>
  <br/>
</div>
<div>
<%= erb :'fave_quote/_fave_quote', locals: {quotable: @article, quotable_type: "articles"}%>
</div>

<br/>
<br/>
<div>
  <h3>Comments:</h3>

  <% @comments.sort_by{|comment| comment[:timestamps]}.each do |comment| %>
  <div>
     <%= comment.user.name %>: <%= comment.content %>   <h6><%= comment.created_at.strftime("%A, %B %d, %Y") %></h6>
     <% if comment.user_id == current_user.id%><p><a href="/comments/<%=comment.id%>/edit">Edit</a></p> <% end %>
  
    <br/>
  </div>
  <% end %>
  <br/>
</div>
<div>
  <%= erb :'comment/_comments', locals: {commentable: @article, commentable_type: @commentable_type}%>
</div>