<h3><div>Title: <%=h @article.title %>
<br/>
Author: <a href="/authors/<%= @article.author.id %>"><%=h @article.author.name %></a>
<br/>
Year: <%= @article.year %>
<br/>
Source: <%= @article.source %>
<br/>
Stars: <%= @avg_rating %>
</div></h3>
<br/>
<br/>

<div>
<%= erb :'rating/_ratings', locals: {ratable: @article, ratable_type: "articles"} %>
</div>
<br/>
<br/>


<div>
  <h3>Enlightnening Quotes:</h3>

  <% @fave_quotes.sort_by{|fave_quote| fave_quote[:timestamps]}.each do |fave_quote| %>
  <div>
     <%=h fave_quote.quote %>
    <h6><%= fave_quote.created_at %></h6>
    <br/>
  </div>
  <% end %>
  <br/>
</div>
<div>
<%= erb :'fave_quote/_fave_quote', locals: {quotable: @article, quotable_type: "articles"}%>
</div>

<br/>
<br/>
<div>
  <h3>Comments:</h3>

  <% @comments.sort_by{|comment| comment[:timestamps]}.each do |comment| %>
  <div>
     <%=h comment.user.name %>: <%=h comment.content %>
    <h6><%= comment.created_at %></h6>
    <br/>
  </div>
  <% end %>
  <br/>
</div>
<div>
  <%= erb :'comment/_comments', locals: {commentable: @article, commentable_type: @commentable_type}%>
</div>