<h3><div>Name: <%= @podcast.name %>
<br/>
Episode Title: <a href="<%= @podcast.source %>"><%= @podcast.episode_title %></a>
<br/>
Author: <a href="/authors/<%= @podcast.author.id %>"><%= @podcast.author.name %></a>
<br/>
Year: <%= @podcast.year %>
<br/>
Stars: <%= @avg_rating %>
</div></h3>
<br/>
<br/>
<%= erb :'rating/_ratings', locals: {ratable: @podcast, ratable_type: "podcasts"} %>
<br/>


<br/>
<div>
  <h3>Enlightnening Quotes:</h3>

  <% @fave_quotes.sort_by{|fave_quote| fave_quote[:timestamps]}.each do |fave_quote| %>
  <div>
     <%= fave_quote.quote %> <h6><%= fave_quote.created_at.strftime("%A, %B %d, %Y") %></h6>
     <% if fave_quote.user_id == current_user.id%><p><a href="/fave_quotes/<%=fave_quote.id%>/edit">Edit</a> </p><% end%>
    <br/>
  </div>
  <% end %>
  <br/>
</div>
<div>
<%= erb :'fave_quote/_fave_quote', locals: {quotable: @podcast, quotable_type: "podcasts"}%>
</div>
<br/>


<div>
  <h3>Comments:</h3>
  <% @comments.sort_by{|comment| comment[:timestamps]}.each do |comment| %>
  <div>
     <div><%= comment.user.name %>: <%= comment.content %>   <h6><%= comment.created_at.strftime("%A, %B %d, %Y") %></h6>
   <% if comment.user_id == current_user.id%><p><a href="/comments/<%=comment.id%>/edit">Edit</a></p> <% end %>
    <br/>
  </div>
  <% end %>
  <br/>
</div>
<div>
  <%= erb :'comment/_comments', locals: {commentable: @podcast, commentable_type: @commentable_type}%>
</div>